@import "fonts";
@import "colors";


#latest_news {
    text-align: center;
    & h2 {
        font-size: 2vw;  
    }
    & p {
        font-size: large;
    }

    & li {
        list-style-type: none;
    }
    & .brand_img {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5vw;
    }
    & .img_info_button {
        display: flex;
        & span {
            display: flex;
            justify-content: center;
            justify-content: space-around;
        }
    }
    & .img_info_button_1 { 
        justify-content: flex-start;
    }
    & .img_info_button_2 {
        justify-content: center;
    }
    & .img_info_button_3 {
        justify-content: flex-end;
    }
}