@import "_colors.scss";

@mixin background_image_cover($url_image){
    background:linear-gradient(to bottom right, $opacBlack, $transparentBlack), #{$url_image};
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@mixin button_basic($color, $background-color){
    color:#{$color};
    background-color: #{$background-color};
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    height: 5rem;
    padding:1rem 2rem;
    font-size: 1.2rem;
    i{
        padding-left: 1vw;
    }
    &:hover{
        color:$color-text-3;
        background-color:transparent;
        cursor: pointer;
    }
}




@mixin section_header{
    
    .background_text_category{
        position: absolute;
        left: 1.5rem;
        font-size: 15rem;
        font-family: $Forum;
        text-transform: uppercase;
        color: $color-text-4;
        z-index: 0;
    }
    h2{

        z-index: 2;
        font-family: $Forum;
        font-size: 4.5rem;
        text-transform: uppercase;
        font-weight: 200;
        margin-bottom: none;
    }
    h3{
        z-index: 2;
        margin:0px;
        font-family: $Open;
        font-size: 1.8rem;
        font-weight: 400;
        padding-bottom: 10.5rem;
    }
    
}

@mixin section_header_mobile{
    margin-bottom: 10.5rem;
    .background_text_category{
        position: absolute;
        font-size: 7rem;
        font-family: $Forum;
        text-transform: uppercase;
        color:$color-text-5;
        z-index: 0;
    }
    h2{
        text-align: center;
        z-index: 2;
        line-height: 8rem;
        letter-spacing: -0.15rem;
        font-family: $Forum;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 200;
        margin:0px 0px 5rem ;
    }
    h3{
        z-index: 2;
        margin:0px;
        font-family: $Open;
        font-size: 1.8rem;
        font-weight: 300;
        
    }
    
}