
@import "_mixins.scss";

#our_chefs {
    background-image: url("./assets/img/our-chefs/imgbg-ourchefs.jpg");
    color: $color-first;
    text-align: center;
    .menu_offers_titles{
        display: flex;
        justify-content: flex-start;
        @include section_header_mobile;
    }

   

    & h2 {
        font-size: 6vw;
    }
    & p {
        font-size: larger;
    }

    & ul {
        display: flex;
        flex-direction: column;
        & li {
            list-style: none;
            & img {
                padding-top: 5vw;
            }
        }
    }
}