@import "_fonts";
@import "_colors";
.why_us{
    div.why_us_images{
        padding-bottom: 7rem;
        background-image: url(/assets/img/banner/imgbgcategory.jpg);
        background-color: $color-second;
        background-blend-mode: multiply;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    
        .small_why_us_image{
            max-width: 100vw;
            padding-top: 5rem;
            justify-self: center;
            align-self: center;
        }
        .salad{
           max-width: 100vw;
            
            
            border-radius: 50%;
            
        }
    }
    .about_us_titles{
        background: none;
        padding:10vw 0vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include section_header_mobile;
        .background_text_category{
            position: absolute;            
            z-index: 0;
        }
        
        .about_us_smaller_titles{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                padding:0px;
            }
            h2{
                
            }
        }
        
        img{
            display: none;
        }
        
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        padding-top: 5rem;
        img{
            max-width:100%;
            
        }
        span{
            padding:3rem;
            p{
                
                font-family: $Forum;
                font-size: 2.5rem;
                font-weight:lighter;
                line-height: 150%;
                
            }
            button{
            @include button_basic($color-text-1,$color-text-3)
            }
        }
    }
    
}