@import "_colors.scss";
@import "_mixins.scss";


.menu_offers{
    background-color: $color-second;
    position:relative;
    padding:15.5rem 0rem;
    .menu_offers_titles{
        @include section_header_mobile;
        .background_text_category{
            color:$color-text-4;
        }
        display: flex;
        justify-content: center;
        .about_us_smaller_titles{
            z-index:2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        
    }
    .bread{
        display: none;
    }
    .steak{
        display:none;
    }
    ul{
        padding:0px;
        position: relative;
        z-index: 6;
        display: grid;
        justify-content: center;
        grid-template-columns: 90% ;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap:2.3rem;
        li{
            &:hover{
                border-style: dashed;
                border-color: $color-text-3;
                cursor: pointer;
            }
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            background-color:$color-first;
            border-radius: 5px;
            padding:0rem 2rem;
            
            div{
                h4{
                    font-size: 2.5rem;
                    font-family: $Forum;
                    font-weight: 200;
                    margin: 0rem;
                    text-align: center;
                }
                .subtitle_menu{
                    font-family: $Open;
                    font-size:1.5rem ;
                    font-weight:400 ;
                    margin-top: 0.5rem;
                }
            }
            .prize{
                    font-size: 4.2rem;
                    font-family: $Forum;
                    font-weight: 400;
                    color: $color-text-3;

            }
        }
        
    }
    
}

