@import "_mixins.scss";
@import "_colors.scss";



#our_chefs {
  background-image: url("./assets/img/our-chefs/imgbg-ourchefs.jpg");
  color: $color-first;
  text-align: center;
  padding-bottom: 5vw;
  padding-top: 8vw;

  .menu_offers_titles {
    @include section_header;
    .background_text_category{
      color:rgba(0, 0, 0, 0.623);
    }
  }
  & .background_text_category {
    position: relative;
    z-index: -1;
  }

  & h2 {
    font-size: 2vw;
    position: relative;
    z-index: 5;
  }
  & h3 {
    font-size: 1.5vw;
    position: relative;
    z-index: 5;
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    & li {
      list-style: none;
      & img {
        width: 20vw;
        height: 27vw;
      }
    }
  }
}
