
@media only screen and (min-width: 768px){
    :root{
        font-size: calc(0.71vw); /*10px*/
        font-weight: 400;
    }
    @import "partials/header";
    @import "partials/category";
    @import "partials/latest_news";
    @import "partials/footer";
    @import "partials/our_chefs";
    @import "partials/why_us";
    @import "partials/restaurant_gallery";
    @import "partials/mixins";
    @import "partials/menu";
}
@media only screen and (max-width:470px){
    :root{
        font-size: 2.5vw;
    }
    @import "partials/mobile_header";
    @import "partials/mobilecategory";
    @import "partials/mobile_why_us";














    @import "./partials/mobile_restaurant_gallery";
    @import "./partials/mobile_our_chefs";
    @import "./partials/mobile_latest_news";
    @import "./partials/mobile_footer";
    @import "partials/mobile_menu";
}
